body {
	background-color: #4f4f4f;
	color: #ffffff;
}

h2 {
	color: #86D2EC;
}

img.centred {
	display: block;
	margin-left: auto;
	margin-right: auto 
}

#creditsDiv {
	font-size: x-small;
	clear: both;	
}

#imageDiv {
	width: 740px;
}

a:link { 
	color: #ffffff; 
	text-decoration: underline; 
}

a:visited { 
	color: #ffffff; 
	text-decoration: underline; 
}

a:hover {
	color: #86D2EC; 
	text-decoration: underline; 
}

a:active { 
	color: #86D2EC; 
	text-decoration: none; 
}

table {
	border-collapse: collapse;
}

table, td, th {
	border:1px solid #86D2EC;
}

th {
	background-color: #86D2EC;
	color: white;
}